html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  color: black;
}



.time_series1 {
  text-align: center;
  color: black;
  position:absolute;
  margin: 0 auto;
  display: inline-block;

}



/******************************************
* Time
********************************************/
.line1MAGA {
  clip-path: url(#clip);
}

.line1METOO {
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}




div.tooltip1 { 
    position: absolute;     
    /*text-align: center;     */
    width: 120px;          
/*    height: 56px;      */   
    padding: 2px;       
    font: 10px noto;    
    background: red; 
    border: 0px;    
    border-radius: 2px;     
    pointer-events: none;     
}


div.tooltip2 { 
    position: absolute;     
    /*text-align: center;*/     
    width: 120px;          
/*    height: 56px;        */
    padding: 2px;       
    font: 10px noto;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 2px;     
    pointer-events: none;     
}





/*  For Tweet Display    */

/* This element would be replaced by where you want the templates. */
.tweetEntry-tweetHolder {
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  width: 588px;
  margin: auto;
  border-radius: 5px;
}

/* The action list is optional. */
.tweetEntry-action-list {
  display: block;
  line-height: 18px;
  margin-left: 58px;
  margin-top: 10px;
  color: #292f33;
}
.fa-reply:hover {
  color: #292f33;
}
.fa-retweet:hover {
  color: #5cd65c;
}
.fa-heart:hover {
  color: #ff3333;
}
/************************/

.tweetEntry {
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
  /*min-height: 51px;*/
  width: 400px;
  height: 200px;
  padding: 9px 12px;
}
.tweetEntry-content {
  display: block;
  font-size: 14px;
  margin-left: 58px;
  font-size: 14px;
}
.tweetEntry-account-group {
  color: #8899a6;
  padding: 0px;
  text-decoration: none;
  line-height: 20px;
}
.tweetEntry-avatar {
  float: left;
  height: 48px;
  width: 48px;
  margin-left: -58px;
  border-radius: 5px;
}
.tweetEntry-fullname {
  font-weight: bold;
  font-size: 14px;
  color: #292f33;
  padding: 0px;
}
.tweetEntry-username {
  font-weight: bold;
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-timestamp {
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-text-container {
  font-size: 14px;
  color: #292f33;
  line-height: 18px;
}

.optionalMedia {
  margin-left: 58px;
  margin-top: 10px;
}
.optionalMedia-img {
  border-radius: 5px;
  max-width: 506px;
  max-height: 506px;
  
}
