html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  color: black;
}



.time_series1 {
  text-align: center;
  color: black;
  position:absolute;
  margin: 0 auto;
  display: inline-block;

}



/******************************************
* Time
********************************************/
.line1MAGA {
  clip-path: url(#clip);
}

.line1METOO {
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}




div.tooltip1 { 
    position: absolute;     
    /*text-align: center;     */
    width: 120px;          
/*    height: 56px;      */   
    padding: 2px;       
    font: 10px noto;    
    background: red; 
    border: 0px;    
    border-radius: 2px;     
    pointer-events: none;     
}


div.tooltip2 { 
    position: absolute;     
    /*text-align: center;*/     
    width: 120px;          
/*    height: 56px;        */
    padding: 2px;       
    font: 10px noto;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 2px;     
    pointer-events: none;     
}

